* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.conteiner {
    width: 1280px;
    max-height: 100%;
    margin: 0 auto;
    display: table;
}

header {
    width: 1280px;
    height: 323px;
    background-color: #445161;
    color: #ffffff;
    font-family: "Arial MT";
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    margin-left: -20px;
    width: 367px;
    height: 44px;
    margin-top: 40px;
    margin-left: 50px;
}

nav {
    display: inline-block;
}

.menu {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    list-style-type: none;
    list-style-image: url(img/check_icon.png);
    width: 422px;
    height: 127px;
    margin-left: 86px;
    margin-top: 51px;
}

.white {
    background: url(img/one.jpg) no-repeat, white;
    background-size: cover;
    width: 469px;
    height: 214px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.about {
    margin-top: 49px;
    margin-left: 50px;
    width: 254px;
    height: 28px;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.text {
    margin-left: 50px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.one {
    margin-top: 30px;
    width: 649px;
    height: 63px;
}

.two {
    width: 653px;
    height: 60px;
}

.black {
    float: right;
    background: url(img/two.jpg), #445161;
    width: 430px;
    height: 245px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.dignity {
    height: 415px;
    background: #f5f5f5;
    clear: both;
    padding-top: 40px;
    box-sizing: border-box;
}



.three {
    height: 28px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    font-family: "ArialMT", "MyriadPro-Regular";
}

.pluses {


    width: 526px;
    height: 254px;
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 29px;
}

.left {
    margin-left: 91px;
    float: left;
}

.quadro {
    width: 20px;
    height: 20px;
    margin-left: -29px;
    margin-top: -58px;
    background: url(img/cropX.jpg);
    background-color: #445161;
}

.abzac {
    margin-bottom: 35px;
    display: grid;
}

.delec {
    height: 63px;

}

.right {
    margin-left: 64px;
    float: left;
}

.scrinshots {
    height: 487px;
    background: #ffffff;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.scrinshots h2 {

    font-family: ArialMT, MyriadPro-Regular, AdobeInvisFont;
    font-size: 30px;
    color: rgba(68, 81, 97, 255);
    margin-bottom: 35px;
}

.scrin-pic {
    width: 200px;
    height: 150px;
    background: url(img/four.jpg) no-repeat, #445161;
    background-size: cover;
    float: left;
    margin-right: 15px;
}

.scrin-head {
    color: #445161;
    font-family: "Arial MT", "MyriadPro-Regular";
    font-size: 24px;
    text-align: left;
    margin-bottom: 15px;
}

.scrinhots-art {
    width: 575px;
    float: left;
}

.scrinhots-art:nth-of-type(odd) {
    margin-right: 8px;
}

.scrinhots-art:nth-of-type(even) {
    margin-left: 8px;
}

.scrinhots-art:nth-of-type(n+3) {
    margin-top: 30px;
}

.scrin-p {
    color: #333333;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    text-align: center;
    display: inline-block;
    padding: 50px;
    background: #f5f5f5;
}

.rew-h2 {

    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 35px;
}

.reviews-t {
    float: left;
    width: 570px;
    height: 120px;
}

.circus {
    float: left;
    background: url(img/three.jpg), #445161;
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.reviews-t:nth-of-type(odd) {
    margin-right: 16px;
}

.reviews-t:nth-of-type(even) {
    margin-left: 16px;
}

.reviews-t:nth-of-type(n+3) {
    margin-top: 24px;
}

.porro {
    width: 468px;
    height: 117px;
    background: #ebebeb;
    float: right;
    position: relative;
}

.porro-p {
    color: #333333;
    font-family: "Arial - Italic MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 16px 20px;
    text-align: left;
    font-style: italic;
}

.lourens {
    color: #989898;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: -16px 0 0 16px;
}

.porro:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background: #ebebeb;
    transform: rotate(45deg)
}

.buy {
    text-align: center;
    display: block;
}

.buy-head {
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 29px;
    margin-top: 50px;
}

.buy-it {
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price {
    width: 300px;
    height: 71px;
    background: #ffffff;
}

.buyitun {
    background: #445162;
    margin-bottom: 50px;
}

.cent {
    font-family: "ArialMT", "MyriadPro-Regular", "AdobeInvisFont";
    font-size: 40pt;
    color: rgba(68, 81, 98, 255);
}

.clr {
    height: 540px;
    clear: both;
}



.buytext {
    text-align: left;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;
}

.buyend {
    width: 260px;
    height: 40px;
    background: #ffffff;
    margin: 20px;

}

.buyendp {
    margin: auto;
    color: #445161;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

footer {
    width: 1280px;
    height: 509px;
    background: #445162;
    margin: 0 auto;
    text-align: center;
    padding-top: 52px;
    box-sizing: border-box;
}

.buyheads {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
}

.contacts-head {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

legend {
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}



fieldset {
    width: 500px;

    border: none;
    display: inline-block;
    margin-left: 187px;
}

legend {
    padding-left: 240px;
    margin-bottom: 31px;
}

.put {
    color: rgba(68, 81, 98, 255);
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    width: 496px;
}

#typing {
    resize: none;
}

#buttons {
    width: 140px;
    height: 40px;
    background: #ffffff;
    color: #445162;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.socmerezi {
    width: 240px;
    height: 229px;
    background: #445162;
    float: right;
    margin-top: 65px;
    margin-right: 202px;
    color: #fff;
    text-align: left;
        line-height: 2;
}
.fa, .fas, .fab {
   
    font-size: 22px;
}
.social {
    margin-top: 37px;
}
span {
    font-size: 16px;
}